In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np

# Exploring
import scipy.stats as stats

# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

import acquire_zillow as acq

In [2]:
df_total = acq.get_2016_property_data()
df_total.head()

,transactiondate,logerror,parcelid,airconditioningdesc,architecturalstyledesc,basementsqft,bathroomcnt,bedroomcnt,buildingclassdesc,buildingqualitytypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,2016-01-01,0.03,11016594,Central,None,nan,2.00,3.00,None,4.00,...,nan,nan,"122,754.00","360,170.00","2,015.00","237,416.00","6,735.88",None,nan,"60,371,066,461,001.00"
1,2016-01-01,-0.17,14366692,None,None,nan,3.50,4.00,None,nan,...,nan,nan,"346,458.00","585,529.00","2,015.00","239,071.00","10,153.02",None,nan,nan
2,2016-01-01,-0.00,12098116,Central,None,nan,3.00,2.00,None,4.00,...,nan,nan,"61,994.00","119,906.00","2,015.00","57,912.00","11,484.48",None,nan,"60,374,638,003,004.00"
3,2016-01-02,0.02,12643413,Central,None,nan,2.00,2.00,None,4.00,...,nan,nan,"171,518.00","244,880.00","2,015.00","73,362.00","3,048.74",None,nan,"60,372,963,002,002.00"
4,2016-01-02,-0.01,14432541,None,None,nan,2.50,4.00,None,nan,...,2.00,nan,"169,574.00","434,551.00","2,015.00","264,977.00","5,488.96",None,nan,"60,590,423,381,006.00"

In [3]:
df_total.shape

(90275, 60)

In [4]:
df_total.describe(include='all')

,transactiondate,logerror,parcelid,airconditioningdesc,architecturalstyledesc,basementsqft,bathroomcnt,bedroomcnt,buildingclassdesc,buildingqualitytypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
count,90275,"90,275.00","90,275.00",28781,261,43.00,"90,275.00","90,275.00",16,"57,364.00",...,"20,570.00",222.00,"89,895.00","90,274.00","90,275.00","90,274.00","90,269.00",1783,"1,783.00","89,670.00"
unique,352,nan,nan,6,6,nan,nan,nan,1,nan,...,nan,nan,nan,nan,nan,nan,nan,1,nan,nan
top,2016-07-29,nan,nan,Central,Contemporary,nan,nan,nan,Buildings having wood or wood and steel frames,nan,...,nan,nan,nan,nan,nan,nan,nan,Y,nan,nan
freq,910,nan,nan,26668,221,nan,nan,nan,16,nan,...,nan,nan,nan,nan,nan,nan,nan,1783,nan,nan
mean,NaN,0.01,"12,984,656.11",NaN,NaN,713.58,2.28,3.03,NaN,5.57,...,1.44,1.00,"180,093.39","457,672.63","2,015.00","278,335.33","5,983.98",NaN,13.40,"60,491,508,546,031.58"
std,NaN,0.16,"2,504,510.49",NaN,NaN,437.43,1.00,1.16,NaN,1.90,...,0.54,0.00,"209,129.89","554,884.40",0.00,"400,495.46","6,838.88",NaN,2.72,"204,660,503,527.14"
min,NaN,-4.61,"10,711,738.00",NaN,NaN,100.00,0.00,0.00,NaN,1.00,...,1.00,1.00,100.00,22.00,"2,015.00",22.00,49.08,NaN,6.00,"60,371,011,101,001.00"
25%,NaN,-0.03,"11,559,500.00",NaN,NaN,407.50,2.00,2.00,NaN,4.00,...,1.00,1.00,"81,245.00","199,023.25","2,015.00","82,228.00","2,872.83",NaN,13.00,"60,373,203,001,019.75"
50%,NaN,0.01,"12,547,337.00",NaN,NaN,616.00,2.00,3.00,NaN,7.00,...,1.00,1.00,"132,000.00","342,872.00","2,015.00","192,970.00","4,542.75",NaN,14.00,"60,376,149,506,506.00"
75%,NaN,0.04,"14,227,552.00",NaN,NaN,872.00,3.00,4.00,NaN,7.00,...,2.00,1.00,"210,534.50","540,589.00","2,015.00","345,419.50","6,901.09",NaN,15.00,"60,590,423,321,006.00"
max,NaN,4.74,"162,960,842.00",NaN,NaN,"1,555.00",20.00,16.00,NaN,12.00,...,4.00,1.00,"9,948,100.00","27,750,000.00","2,015.00","24,500,000.00","321,936.09",NaN,99.00,"61,110,091,001,020.00"

In [8]:
# this is how to write to csv, by calling the command from the acquire.py:
# acq.write_2016_csv(acq.get_2016_property_data())

In [10]:
look = acq.peekatdata(df_total)
look

HEAD:
  transactiondate             logerror  parcelid airconditioningdesc  \
0      2016-01-01                 0.03  11016594             Central
1      2016-01-01                -0.17  14366692                None
2      2016-01-01                -0.00  12098116             Central
3      2016-01-02                 0.02  12643413             Central
4      2016-01-02                -0.01  14432541                None

  architecturalstyledesc         basementsqft          bathroomcnt  \
0                   None                  nan                 2.00
1                   None                  nan                 3.50
2                   None                  nan                 3.00
3                   None                  nan                 2.00
4                   None                  nan                 2.50

            bedroomcnt buildingclassdesc  buildingqualitytypeid  \
0                 3.00              None                   4.00
1                 4.00              None                    nan
2                 2.00              None                   4.00
3                 2.00              None                   4.00
4                 4.00              None                    nan

           ...               numberofstories        fireplaceflag  \
0          ...                           nan                  nan
1          ...                           nan                  nan
2          ...                           nan                  nan
3          ...                           nan                  nan
4          ...                          2.00                  nan

   structuretaxvaluedollarcnt    taxvaluedollarcnt       assessmentyear  \
0                  122,754.00           360,170.00             2,015.00
1                  346,458.00           585,529.00             2,015.00
2                   61,994.00           119,906.00             2,015.00
3                  171,518.00           244,880.00             2,015.00
4                  169,574.00           434,551.00             2,015.00

   landtaxvaluedollarcnt            taxamount  taxdelinquencyflag  \
0             237,416.00             6,735.88                None
1             239,071.00            10,153.02                None
2              57,912.00            11,484.48                None
3              73,362.00             3,048.74                None
4             264,977.00             5,488.96                None

    taxdelinquencyyear   censustractandblock
0                  nan 60,371,066,461,001.00
1                  nan                   nan
2                  nan 60,374,638,003,004.00
3                  nan 60,372,963,002,002.00
4                  nan 60,590,423,381,006.00

[5 rows x 60 columns]


 TAIL:
      transactiondate             logerror  parcelid airconditioningdesc  \
90270      2016-12-30                -0.04  10774160             Central
90271      2016-12-30                 0.01  12046695                None
90272      2016-12-30                -0.27  12995401                None
90273      2016-12-30                 0.06  11402105                None
90274      2016-12-30                 0.42  12566293                None

      architecturalstyledesc         basementsqft          bathroomcnt  \
90270                   None                  nan                 1.00
90271                   None                  nan                 3.00
90272                   None                  nan                 2.00
90273                   None                  nan                 2.00
90274                   None                  nan                 1.00

                bedroomcnt buildingclassdesc  buildingqualitytypeid  \
90270                 1.00              None                   4.00
90271                 3.00              None                   4.00
90272                 4.00              None                   7.00
90273                 2.00              None                   4.00
90274                 3.00              None                   7.00

               ...               numberofstories        fireplaceflag  \
90270          ...                           nan                  nan
90271          ...                           nan                  nan
90272          ...                           nan                  nan
90273          ...                           nan                  nan
90274          ...                           nan                  nan

       structuretaxvaluedollarcnt    taxvaluedollarcnt       assessmentyear  \
90270                   43,800.00           191,000.00             2,015.00
90271                  117,893.00           161,111.00             2,015.00
90272                   22,008.00            38,096.00             2,015.00
90273                  132,991.00           165,869.00             2,015.00
90274                   66,258.00           163,037.00             2,015.00

       landtaxvaluedollarcnt            taxamount  taxdelinquencyflag  \
90270             147,200.00             2,495.24                None
90271              43,218.00             1,886.54                None
90272              16,088.00             1,925.70                   Y
90273              32,878.00             2,285.57                None
90274              96,779.00             2,560.96                None

        taxdelinquencyyear   censustractandblock
90270                  nan 60,371,317,011,005.00
90271                  nan 60,373,008,002,017.00
90272                14.00 60,374,327,001,008.00
90273                  nan 60,376,014,013,000.00
90274                  nan 60,375,440,011,011.00

[5 rows x 60 columns]


 SHAPE:
(90275, 60)


 DESCRIBE:
                  logerror             parcelid         basementsqft  \
count            90,275.00            90,275.00                43.00
mean                  0.01        12,984,656.11               713.58
std                   0.16         2,504,510.49               437.43
min                  -4.61        10,711,738.00               100.00
25%                  -0.03        11,559,500.00               407.50
50%                   0.01        12,547,337.00               616.00
75%                   0.04        14,227,552.00               872.00
max                   4.74       162,960,842.00             1,555.00

               bathroomcnt           bedroomcnt  buildingqualitytypeid  \
count            90,275.00            90,275.00              57,364.00
mean                  2.28                 3.03                   5.57
std                   1.00                 1.16                   1.90
min                   0.00                 0.00                   1.00
25%                   2.00                 2.00                   4.00
50%                   2.00                 3.00                   7.00
75%                   3.00                 4.00                   7.00
max                  20.00                16.00                  12.00

         calculatedbathnbr           decktypeid  finishedfloor1squarefeet  \
count            89,093.00               658.00                  6,856.00
mean                  2.31                66.00                  1,347.97
std                   0.98                 0.00                    652.40
min                   1.00                66.00                     44.00
25%                   2.00                66.00                    938.00
50%                   2.00                66.00                  1,244.00
75%                   3.00                66.00                  1,614.00
max                  20.00                66.00                  7,625.00

       calculatedfinishedsquarefeet          ...           \
count                     89,614.00          ...
mean                       1,773.19          ...
std                          928.16          ...
min                            2.00          ...
25%                        1,184.00          ...
50%                        1,540.00          ...
75%                        2,095.00          ...
max                       22,741.00          ...

                 yearbuilt      numberofstories        fireplaceflag  \
count            89,519.00            20,570.00               222.00
mean              1,968.53                 1.44                 1.00
std                  23.76                 0.54                 0.00
min               1,885.00                 1.00                 1.00
25%               1,953.00                 1.00                 1.00
50%               1,970.00                 1.00                 1.00
75%               1,987.00                 2.00                 1.00
max               2,015.00                 4.00                 1.00

       structuretaxvaluedollarcnt    taxvaluedollarcnt       assessmentyear  \
count                   89,895.00            90,274.00            90,275.00
mean                   180,093.39           457,672.63             2,015.00
std                    209,129.89           554,884.40                 0.00
min                        100.00                22.00             2,015.00
25%                     81,245.00           199,023.25             2,015.00
50%                    132,000.00           342,872.00             2,015.00
75%                    210,534.50           540,589.00             2,015.00
max                  9,948,100.00        27,750,000.00             2,015.00

       landtaxvaluedollarcnt            taxamount   taxdelinquencyyear  \
count              90,274.00            90,269.00             1,783.00
mean              278,335.33             5,983.98                13.40
std               400,495.46             6,838.88                 2.72
min                    22.00                49.08                 6.00
25%                82,228.00             2,872.83                13.00
50%               192,970.00             4,542.75                14.00
75%               345,419.50             6,901.09                15.00
max            24,500,000.00           321,936.09                99.00

        censustractandblock
count             89,670.00
mean  60,491,508,546,031.58
std      204,660,503,527.14
min   60,371,011,101,001.00
25%   60,373,203,001,019.75
50%   60,376,149,506,506.00
75%   60,590,423,321,006.00
max   61,110,091,001,020.00

[8 rows x 49 columns]


 INFO
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90275 entries, 0 to 90274
Data columns (total 60 columns):
transactiondate                 90275 non-null object
logerror                        90275 non-null float64
parcelid                        90275 non-null int64
airconditioningdesc             28781 non-null object
architecturalstyledesc          261 non-null object
basementsqft                    43 non-null float64
bathroomcnt                     90275 non-null float64
bedroomcnt                      90275 non-null float64
buildingclassdesc               16 non-null object
buildingqualitytypeid           57364 non-null float64
calculatedbathnbr               89093 non-null float64
decktypeid                      658 non-null float64
finishedfloor1squarefeet        6856 non-null float64
calculatedfinishedsquarefeet    89614 non-null float64
finishedsquarefeet12            85596 non-null float64
finishedsquarefeet13            33 non-null float64
finishedsquarefeet15            3564 non-null float64
finishedsquarefeet50            6856 non-null float64
finishedsquarefeet6             421 non-null float64
fips                            90275 non-null float64
fireplacecnt                    9607 non-null float64
fullbathcnt                     89093 non-null float64
garagecarcnt                    29937 non-null float64
garagetotalsqft                 29937 non-null float64
hashottuborspa                  2365 non-null float64
heatingorsystemdesc             56080 non-null object
latitude                        90275 non-null float64
longitude                       90275 non-null float64
lotsizesquarefeet               80125 non-null float64
poolcnt                         17901 non-null float64
poolsizesum                     969 non-null float64
pooltypeid10                    1161 non-null float64
pooltypeid2                     1204 non-null float64
pooltypeid7                     16697 non-null float64
propertycountylandusecode       90274 non-null object
propertylandusedesc             90275 non-null object
propertyzoningdesc              58313 non-null object
rawcensustractandblock          90275 non-null float64
regionidcity                    88472 non-null float64
regionidcounty                  90275 non-null float64
regionidneighborhood            36012 non-null float64
regionidzip                     90240 non-null float64
roomcnt                         90275 non-null float64
storydesc                       43 non-null object
threequarterbathnbr             12009 non-null float64
typeconstructiondesc            299 non-null object
unitcnt                         58353 non-null float64
yardbuildingsqft17              2646 non-null float64
yardbuildingsqft26              95 non-null float64
yearbuilt                       89519 non-null float64
numberofstories                 20570 non-null float64
fireplaceflag                   222 non-null float64
structuretaxvaluedollarcnt      89895 non-null float64
taxvaluedollarcnt               90274 non-null float64
assessmentyear                  90275 non-null float64
landtaxvaluedollarcnt           90274 non-null float64
taxamount                       90269 non-null float64
taxdelinquencyflag              1783 non-null object
taxdelinquencyyear              1783 non-null float64
censustractandblock             89670 non-null float64
dtypes: float64(48), int64(1), object(11)
memory usage: 41.3+ MB
None


 Missing Values:

transactiondate                     0
logerror                            0
parcelid                            0
airconditioningdesc             61494
architecturalstyledesc          90014
basementsqft                    90232
bathroomcnt                         0
bedroomcnt                          0
buildingclassdesc               90259
buildingqualitytypeid           32911
calculatedbathnbr                1182
decktypeid                      89617
finishedfloor1squarefeet        83419
calculatedfinishedsquarefeet      661
finishedsquarefeet12             4679
finishedsquarefeet13            90242
finishedsquarefeet15            86711
finishedsquarefeet50            83419
finishedsquarefeet6             89854
fips                                0
fireplacecnt                    80668
fullbathcnt                      1182
garagecarcnt                    60338
garagetotalsqft                 60338
hashottuborspa                  87910
heatingorsystemdesc             34195
latitude                            0
longitude                           0
lotsizesquarefeet               10150
poolcnt                         72374
poolsizesum                     89306
pooltypeid10                    89114
pooltypeid2                     89071
pooltypeid7                     73578
propertycountylandusecode           1
propertylandusedesc                 0
propertyzoningdesc              31962
rawcensustractandblock              0
regionidcity                     1803
regionidcounty                      0
regionidneighborhood            54263
regionidzip                        35
roomcnt                             0
storydesc                       90232
threequarterbathnbr             78266
typeconstructiondesc            89976
unitcnt                         31922
yardbuildingsqft17              87629
yardbuildingsqft26              90180
yearbuilt                         756
numberofstories                 69705
fireplaceflag                   90053
structuretaxvaluedollarcnt        380
taxvaluedollarcnt                   1
assessmentyear                      0
landtaxvaluedollarcnt               1
taxamount                           6
taxdelinquencyflag              88492
taxdelinquencyyear              88492
censustractandblock               605
dtype: int64

In [ ]:
dummies = pd.get_dummies(field to pass in)

this encodes a field
theis breaks distinct values out of a column and gives each their own field and labels each, so you cna run models on each column