In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np

# Exploring
import scipy.stats as stats

# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

import acquire_zillow as acq
import acquire_mall as acq_mall
import prepare_zillow as prep_z
import prepare_mall as prep_mall

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [ ]:
df_mall_total = acq_mall.get_mall_data()

In [ ]:
look_mall = acq_mall.peekatdata(df_mall_total)

In [ ]:
df_mall_total.head()

In [ ]:
df_mall_total = prep_mall.prep_mall_data(df_mall_total)
df_mall_total.head()

In [ ]:
prep_mall.outlier_peek(df_mall_total)

dummies = pd.get_dummies(field to pass in)

this encodes a field
theis breaks distinct values out of a column and gives each their own field and labels each, so you cna run models on each column

In [ ]:
### Encodes all the categorical columns, and adds the encoded column (i.e. it doesn't remove the original column)
dummy = pd.get_dummies(df_mall_total['gender'])
df_mall_total = pd.concat([df_mall_total, dummy], axis=1)
df_mall_total.head()

In [ ]:
df_mall_total.shape

In [ ]:
df_mall_total.columns

In [ ]:
df_mall_total.gender.value_counts()

In [ ]:
df_mall_total.age.value_counts(bins=3)

In [ ]:
df_mall_total.age.value_counts(bins=[18, 26, 32, 40, 50, 80])

In [ ]:
for col in df_mall_total.select_dtypes('number'):
    print(col)
    print(df_mall_total[col].value_counts(bins=4))

In [ ]:
df_mall_total.isna().sum()

In [ ]:
df_mall_total.describe(include='all')

In [ ]:
df_mall_total.annual_income.plot.box()

In [ ]:
df_mall_total.annual_income.quantile()

In [ ]:
q1 = df_mall_total.annual_income.quantile(.25)
q3 = df_mall_total.annual_income.quantile(.75)
iqr = q3 - q1
# df_mall_total.annual_income > (q3 + 1.5 * iqr)
# df_mall_total[df_mall_total.annual_income > (q3 + 1.5 * iqr)]
df_mall_total['is_annual_income_outlier'] = df_mall_total.annual_income > (q3 + 1.5 * iqr)
df_mall_total.head()

In [2]:
df_zillow_total = acq.all_zillow_data()
df_zillow_total.head()

,transactiondate,logerror,parcelid,airconditioningdesc,architecturalstyledesc,basementsqft,bathroomcnt,bedroomcnt,buildingclassdesc,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemdesc,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusedesc,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storydesc,threequarterbathnbr,typeconstructiondesc,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,2016-01-01,0.03,11016594,Central,None,nan,2.00,3.00,None,4.00,2.00,nan,nan,"1,684.00","1,684.00",nan,nan,nan,nan,"6,037.00",nan,2.00,nan,nan,nan,Central,"34,280,990.00","-118,488,536.00","7,528.00",nan,nan,nan,nan,nan,0100,Single Family Residential,LARS,"60,371,066.46","12,447.00","3,101.00","31,817.00","96,370.00",0.00,None,nan,None,1.00,nan,nan,"1,959.00",nan,nan,"122,754.00","360,170.00","2,015.00","237,416.00","6,735.88",None,nan,"60,371,066,461,001.00"
1,2016-01-01,-0.17,14366692,None,None,nan,3.50,4.00,None,nan,3.50,nan,nan,"2,263.00","2,263.00",nan,nan,nan,nan,"6,059.00",nan,3.00,2.00,468.00,nan,None,"33,668,120.00","-117,677,556.00","3,643.00",nan,nan,nan,nan,nan,1,Single Family Residential,None,"60,590,524.22","32,380.00","1,286.00",nan,"96,962.00",0.00,None,1.00,None,nan,nan,nan,"2,014.00",nan,nan,"346,458.00","585,529.00","2,015.00","239,071.00","10,153.02",None,nan,nan
2,2016-01-01,-0.00,12098116,Central,None,nan,3.00,2.00,None,4.00,3.00,nan,nan,"2,217.00","2,217.00",nan,nan,nan,nan,"6,037.00",nan,3.00,nan,nan,nan,Central,"34,136,312.00","-118,175,032.00","11,423.00",nan,nan,nan,nan,nan,0100,Single Family Residential,PSR6,"60,374,638.00","47,019.00","3,101.00","275,411.00","96,293.00",0.00,None,nan,None,1.00,nan,nan,"1,940.00",nan,nan,"61,994.00","119,906.00","2,015.00","57,912.00","11,484.48",None,nan,"60,374,638,003,004.00"
3,2016-01-02,0.02,12643413,Central,None,nan,2.00,2.00,None,4.00,2.00,nan,nan,839.00,839.00,nan,nan,nan,nan,"6,037.00",nan,2.00,nan,nan,nan,Central,"33,755,800.00","-118,309,000.00","70,859.00",nan,nan,nan,nan,nan,010C,Condominium,LAR3,"60,372,963.00","12,447.00","3,101.00","54,300.00","96,222.00",0.00,None,nan,None,1.00,nan,nan,"1,987.00",nan,nan,"171,518.00","244,880.00","2,015.00","73,362.00","3,048.74",None,nan,"60,372,963,002,002.00"
4,2016-01-02,-0.01,14432541,None,None,nan,2.50,4.00,None,nan,2.50,nan,nan,"2,283.00","2,283.00",nan,nan,nan,nan,"6,059.00",nan,2.00,2.00,598.00,nan,None,"33,485,643.00","-117,700,234.00","6,000.00",1.00,nan,nan,nan,1.00,122,Single Family Residential,None,"60,590,423.38","17,686.00","1,286.00",nan,"96,961.00",8.00,None,1.00,None,nan,nan,nan,"1,981.00",2.00,nan,"169,574.00","434,551.00","2,015.00","264,977.00","5,488.96",None,nan,"60,590,423,381,006.00"

In [3]:
df_zillow_total.shape

(167854, 60)

In [4]:
df_zillow_total.columns

Index(['transactiondate', 'logerror', 'parcelid', 'airconditioningdesc', 'architecturalstyledesc', 'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingclassdesc', 'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid', 'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet', 'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet50', 'finishedsquarefeet6', 'fips', 'fireplacecnt', 'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa', 'heatingorsystemdesc', 'latitude', 'longitude', 'lotsizesquarefeet', 'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7', 'propertycountylandusecode', 'propertylandusedesc', 'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity', 'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt', 'storydesc', 'threequarterbathnbr', 'typeconstructiondesc', 'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt', 'numberofstories', 'fireplaceflag',
       'structuretaxvaluedollarcnt', 'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt', 'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear', 'censustractandblock'],
      dtype='object')

In [5]:
df_zillow_total = prep_z.data_prep(df_zillow_total)
df_zillow_total.head()

  transactiondate             logerror  parcelid          bathroomcnt           bedroomcnt buildingqualitytypeid    calculatedbathnbr  calculatedfinishedsquarefeet  finishedsquarefeet12    fips             latitude            longitude propertycountylandusecode        propertylandusedesc rawcensustractandblock regionidcity regionidcounty regionidzip              roomcnt yearbuilt  structuretaxvaluedollarcnt    taxvaluedollarcnt assessmentyear  landtaxvaluedollarcnt            taxamount censustractandblock
0      2016-01-01                 0.03  11016594                 2.00                 3.00                   4.0                 2.00                      1,684.00              1,684.00  6037.0        34,280,990.00      -118,488,536.00                      0100  Single Family Residential        60371066.461001      12447.0         3101.0     96370.0                 0.00    1959.0                  122,754.00           360,170.00         2015.0             237,416.00             6,735.88    60371066461001.0
1      2016-01-01                -0.17  14366692                 3.50                 4.00                   nan                 3.50                      2,263.00              2,263.00  6059.0        33,668,120.00      -117,677,556.00                         1  Single Family Residential        60590524.222024      32380.0         1286.0     96962.0                 0.00    2014.0                  346,458.00           585,529.00         2015.0             239,071.00            10,153.02                 nan
2      2016-01-01                -0.00  12098116                 3.00                 2.00                   4.0                 3.00                      2,217.00              2,217.00  6037.0        34,136,312.00      -118,175,032.00                      0100  Single Family Residential      60374638.00300401      47019.0         3101.0     96293.0                 0.00    1940.0                   61,994.00           119,906.00         2015.0              57,912.00            11,484.48    60374638003004.0
3      2016-01-02                 0.02  12643413                 2.00                 2.00                   4.0                 2.00                        839.00                839.00  6037.0        33,755,800.00      -118,309,000.00                      010C                Condominium        60372963.002002      12447.0         3101.0     96222.0                 0.00    1987.0                  171,518.00           244,880.00         2015.0              73,362.00             3,048.74    60372963002002.0
4      2016-01-02                -0.01  14432541                 2.50                 4.00                   nan                 2.50                      2,283.00              2,283.00  6059.0        33,485,643.00      -117,700,234.00                       122  Single Family Residential        60590423.381006      17686.0         1286.0     96961.0                 8.00    1981.0                  169,574.00           434,551.00         2015.0             264,977.00             5,488.96    60590423381006.0

In [6]:
df_zillow_total.shape

(156367, 26)

In [7]:
df_zillow_total.columns

Index(['transactiondate', 'logerror', 'parcelid', 'bathroomcnt', 'bedroomcnt', 'buildingqualitytypeid', 'calculatedbathnbr', 'calculatedfinishedsquarefeet', 'finishedsquarefeet12', 'fips', 'latitude', 'longitude', 'propertycountylandusecode', 'propertylandusedesc', 'rawcensustractandblock', 'regionidcity', 'regionidcounty', 'regionidzip', 'roomcnt', 'yearbuilt', 'structuretaxvaluedollarcnt', 'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt', 'taxamount', 'censustractandblock'], dtype='object')

In [8]:
look_zillow = prep_z.peekatdata(df_zillow_total)

 SHAPE:
(156367, 26)


 COLS:
Index(['transactiondate', 'logerror', 'parcelid', 'bathroomcnt', 'bedroomcnt', 'buildingqualitytypeid', 'calculatedbathnbr', 'calculatedfinishedsquarefeet', 'finishedsquarefeet12', 'fips', 'latitude', 'longitude', 'propertycountylandusecode', 'propertylandusedesc', 'rawcensustractandblock', 'regionidcity', 'regionidcounty', 'regionidzip', 'roomcnt', 'yearbuilt', 'structuretaxvaluedollarcnt', 'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt', 'taxamount', 'censustractandblock'], dtype='object')


 INFO:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 156367 entries, 0 to 167887
Data columns (total 26 columns):
transactiondate                 156367 non-null object
logerror                        156367 non-null float64
parcelid                        156367 non-null object
bathroomcnt                     156367 non-null float64
bedroomcnt                      156367 non-null float64
buildingqualitytypeid           156367 non-null object
calculatedbathnbr               155462 non-null float64
calculatedfinishedsquarefeet    155670 non-null float64
finishedsquarefeet12            155239 non-null float64
fips                            156367 non-null object
latitude                        156367 non-null float64
longitude                       156367 non-null float64
propertycountylandusecode       156366 non-null object
propertylandusedesc             156367 non-null object
rawcensustractandblock          156367 non-null object
regionidcity                    156367 non-null object
regionidcounty                  156367 non-null object
regionidzip                     156367 non-null object
roomcnt                         156367 non-null float64
yearbuilt                       156367 non-null object
structuretaxvaluedollarcnt      156030 non-null float64
taxvaluedollarcnt               156365 non-null float64
assessmentyear                  156367 non-null object
landtaxvaluedollarcnt           156364 non-null float64
taxamount                       156357 non-null float64
censustractandblock             156367 non-null object
dtypes: float64(13), object(13)
memory usage: 32.2+ MB
None


 Missing Values:
transactiondate                    0
logerror                           0
parcelid                           0
bathroomcnt                        0
bedroomcnt                         0
buildingqualitytypeid              0
calculatedbathnbr                905
calculatedfinishedsquarefeet     697
finishedsquarefeet12            1128
fips                               0
latitude                           0
longitude                          0
propertycountylandusecode          1
propertylandusedesc                0
rawcensustractandblock             0
regionidcity                       0
regionidcounty                     0
regionidzip                        0
roomcnt                            0
yearbuilt                          0
structuretaxvaluedollarcnt       337
taxvaluedollarcnt                  2
assessmentyear                     0
landtaxvaluedollarcnt              3
taxamount                         10
censustractandblock                0
dtype: int64


 DESCRIBE:
                  logerror          bathroomcnt           bedroomcnt    calculatedbathnbr  calculatedfinishedsquarefeet  finishedsquarefeet12             latitude            longitude              roomcnt  structuretaxvaluedollarcnt    taxvaluedollarcnt  landtaxvaluedollarcnt            taxamount
count           156,367.00           156,367.00           156,367.00           155,462.00                    155,670.00            155,239.00           156,367.00           156,367.00           156,367.00                  156,030.00           156,365.00             156,364.00           156,357.00
mean                  0.01                 2.25                 2.99                 2.26                      1,742.00              1,743.11        34,003,395.87      -118,196,149.11                 1.58                  183,560.89           472,874.87             289,709.09             5,966.93
std                   0.16                 0.95                 1.03                 0.94                        918.74                918.57           268,900.70           365,643.95                 2.89                  222,369.42           612,584.07             452,513.25             7,325.70
min                  -4.66                 0.00                 0.00                 1.00                          2.00                  2.00        33,339,527.00      -119,475,416.00                 0.00                       44.00                22.00                  22.00                19.92
25%                  -0.02                 2.00                 2.00                 2.00                      1,163.00              1,164.00        33,802,932.50      -118,414,882.50                 0.00                   81,831.25           200,153.00              81,885.50             2,761.24
50%                   0.01                 2.00                 3.00                 2.00                      1,508.00              1,510.00        34,017,759.00      -118,164,000.00                 0.00                  132,426.00           348,097.00             197,600.00             4,453.24
75%                   0.04                 3.00                 4.00                 3.00                      2,052.00              2,053.00        34,175,937.50      -117,912,176.00                 0.00                  212,147.00           552,505.00             356,352.00             6,850.56
max                   5.26                20.00                16.00                20.00                     21,929.00             21,929.00        34,818,767.00      -117,554,636.00                18.00               11,421,790.00        49,061,236.00          48,952,198.00           586,639.30


 HEAD:
  transactiondate             logerror  parcelid          bathroomcnt           bedroomcnt buildingqualitytypeid    calculatedbathnbr  calculatedfinishedsquarefeet  finishedsquarefeet12    fips             latitude            longitude propertycountylandusecode        propertylandusedesc rawcensustractandblock regionidcity regionidcounty regionidzip              roomcnt yearbuilt  structuretaxvaluedollarcnt    taxvaluedollarcnt assessmentyear  landtaxvaluedollarcnt            taxamount censustractandblock
0      2016-01-01                 0.03  11016594                 2.00                 3.00                   4.0                 2.00                      1,684.00              1,684.00  6037.0        34,280,990.00      -118,488,536.00                      0100  Single Family Residential        60371066.461001      12447.0         3101.0     96370.0                 0.00    1959.0                  122,754.00           360,170.00         2015.0             237,416.00             6,735.88    60371066461001.0
1      2016-01-01                -0.17  14366692                 3.50                 4.00                   nan                 3.50                      2,263.00              2,263.00  6059.0        33,668,120.00      -117,677,556.00                         1  Single Family Residential        60590524.222024      32380.0         1286.0     96962.0                 0.00    2014.0                  346,458.00           585,529.00         2015.0             239,071.00            10,153.02                 nan
2      2016-01-01                -0.00  12098116                 3.00                 2.00                   4.0                 3.00                      2,217.00              2,217.00  6037.0        34,136,312.00      -118,175,032.00                      0100  Single Family Residential      60374638.00300401      47019.0         3101.0     96293.0                 0.00    1940.0                   61,994.00           119,906.00         2015.0              57,912.00            11,484.48    60374638003004.0
3      2016-01-02                 0.02  12643413                 2.00                 2.00                   4.0                 2.00                        839.00                839.00  6037.0        33,755,800.00      -118,309,000.00                      010C                Condominium        60372963.002002      12447.0         3101.0     96222.0                 0.00    1987.0                  171,518.00           244,880.00         2015.0              73,362.00             3,048.74    60372963002002.0
4      2016-01-02                -0.01  14432541                 2.50                 4.00                   nan                 2.50                      2,283.00              2,283.00  6059.0        33,485,643.00      -117,700,234.00                       122  Single Family Residential        60590423.381006      17686.0         1286.0     96961.0                 8.00    1981.0                  169,574.00           434,551.00         2015.0             264,977.00             5,488.96    60590423381006.0


 TAIL:
       transactiondate             logerror  parcelid          bathroomcnt           bedroomcnt buildingqualitytypeid    calculatedbathnbr  calculatedfinishedsquarefeet  finishedsquarefeet12    fips             latitude            longitude propertycountylandusecode        propertylandusedesc rawcensustractandblock regionidcity regionidcounty regionidzip              roomcnt yearbuilt  structuretaxvaluedollarcnt    taxvaluedollarcnt assessmentyear  landtaxvaluedollarcnt            taxamount censustractandblock
167883      2017-09-20                -0.00  10833991                 3.00                 3.00                   8.0                 3.00                      1,741.00              1,741.00  6037.0        34,202,400.00      -118,502,000.00                      010C                Condominium      60371319.00100601      12447.0         3101.0     96415.0                 0.00    1980.0                  265,000.00           379,000.00         2016.0             114,000.00             4,685.34    60371319001006.0
167884      2017-09-20                 0.02  11000655                 2.00                 2.00                   6.0                 2.00                      1,286.00              1,286.00  6037.0        34,245,368.00      -118,282,383.00                      0100  Single Family Residential        60371014.003002      12447.0         3101.0     96284.0                 0.00    1940.0                   70,917.00           354,621.00         2016.0             283,704.00             4,478.43    60371014003002.0
167885      2017-09-21                 0.01  17239384                 2.00                 4.00                   nan                 2.00                      1,612.00              1,612.00  6111.0        34,300,140.00      -118,706,327.00                      1111  Single Family Residential     61110084.022016004      27110.0         2061.0     97116.0                 7.00    1964.0                   50,683.00            67,205.00         2016.0              16,522.00             1,107.48    61110084022016.0
167886      2017-09-21                 0.04  12773139                 1.00                 3.00                   4.0                 1.00                      1,032.00              1,032.00  6037.0        34,040,895.00      -118,038,169.00                      0100  Single Family Residential      60374338.02200501      36502.0         3101.0     96480.0                 0.00    1954.0                   32,797.00            49,546.00         2016.0              16,749.00               876.43    60374338022005.0
167887      2017-09-25                 0.01  12826780                 2.00                 3.00                   6.0                 2.00                      1,762.00              1,762.00  6037.0        33,937,685.00      -117,996,709.00                      0100  Single Family Residential     60375034.021019995      14634.0         3101.0     96171.0                 0.00    1955.0                  140,000.00           522,000.00         2016.0             382,000.00             6,317.15    60375034021020.0

## Need to get the prepare.py to properly convert the remaining missing items to zeros...
## also, I changed the cut off for blank column cells from 50% to 75%.  Is this an issue?

Then finish up on how to handle missing values and jump to the outliers piece.  See my print out and lesson.

In [ ]:
# singles = ['Cluster Home', 'Condominium', 'Cooperative', 'Manufactured, Modular, Prefabricated Homes', 'Mobile Home', 'Residential General', 'Single Family Residential', 'Townhouse']
# pickle = df_zillow_total[df_zillow_total.propertylandusedesc.isin(singles)]
# pickle.shape
# pickle.head()
# pickle.propertylandusedesc.unique()

['parcelid', 'buildingqualitytypeid', 'fips', 'rawcensustractandblock', 'regionidcity', 'regionidcounty', 'regionidzip', 'yearbuilt', 'assessmentyear', 'censustractandblock']

tuesday = df_zillow_total
tuesday[['parcelid', 'buildingqualitytypeid', 'fips', 'rawcensustractandblock', 'regionidcity', 'regionidcounty', 'regionidzip', 'yearbuilt', 'assessmentyear', 'censustractandblock']] = tuesday[['parcelid', 'buildingqualitytypeid', 'fips', 'rawcensustractandblock', 'regionidcity', 'regionidcounty', 'regionidzip', 'yearbuilt', 'assessmentyear', 'censustractandblock']].astype(str)
tuesday.select_dtypes(include=['object']).head()

This is how to write to csv, by calling the command from the acquire.py:

In [ ]:
# acq.write_2016_csv(acq.get_2016_property_data())