In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np

# Exploring
import scipy.stats as stats

# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

import acquire_zillow as acq
import acquire_mall as acq_mall
import prepare_zillow as prep_z
import prepare_mall as prep_mall

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [ ]:
df_mall_total = acq_mall.get_mall_data()

In [ ]:
look_mall = acq_mall.peekatdata(df_mall_total)

In [ ]:
df_mall_total.head()

In [ ]:
df_mall_total = prep_mall.prep_mall_data(df_mall_total)
df_mall_total.head()

In [ ]:
prep_mall.outlier_peek(df_mall_total)

dummies = pd.get_dummies(field to pass in)

this encodes a field
theis breaks distinct values out of a column and gives each their own field and labels each, so you cna run models on each column

In [ ]:
### Encodes all the categorical columns, and adds the encoded column (i.e. it doesn't remove the original column)
dummy = pd.get_dummies(df_mall_total['gender'])
df_mall_total = pd.concat([df_mall_total, dummy], axis=1)
df_mall_total.head()

In [ ]:
df_mall_total.shape

In [ ]:
df_mall_total.columns

In [ ]:
df_mall_total.gender.value_counts()

In [ ]:
df_mall_total.age.value_counts(bins=3)

In [ ]:
df_mall_total.age.value_counts(bins=[18, 26, 32, 40, 50, 80])

In [ ]:
for col in df_mall_total.select_dtypes('number'):
    print(col)
    print(df_mall_total[col].value_counts(bins=4))

In [ ]:
df_mall_total.isna().sum()

In [ ]:
df_mall_total.describe(include='all')

In [ ]:
df_mall_total.annual_income.plot.box()

In [ ]:
df_mall_total.annual_income.quantile()

In [ ]:
q1 = df_mall_total.annual_income.quantile(.25)
q3 = df_mall_total.annual_income.quantile(.75)
iqr = q3 - q1
# df_mall_total.annual_income > (q3 + 1.5 * iqr)
# df_mall_total[df_mall_total.annual_income > (q3 + 1.5 * iqr)]
df_mall_total['is_annual_income_outlier'] = df_mall_total.annual_income > (q3 + 1.5 * iqr)
df_mall_total.head()

In [2]:
df_zillow_total = acq.all_zillow_data()
df_zillow_total.head()

,transactiondate,logerror,parcelid,airconditioningdesc,architecturalstyledesc,basementsqft,bathroomcnt,bedroomcnt,buildingclassdesc,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemdesc,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusedesc,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storydesc,threequarterbathnbr,typeconstructiondesc,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,2016-01-01,0.03,11016594,Central,None,nan,2.00,3.00,None,4.00,2.00,nan,nan,"1,684.00","1,684.00",nan,nan,nan,nan,"6,037.00",nan,2.00,nan,nan,nan,Central,"34,280,990.00","-118,488,536.00","7,528.00",nan,nan,nan,nan,nan,0100,Single Family Residential,LARS,"60,371,066.46","12,447.00","3,101.00","31,817.00","96,370.00",0.00,None,nan,None,1.00,nan,nan,"1,959.00",nan,nan,"122,754.00","360,170.00","2,015.00","237,416.00","6,735.88",None,nan,"60,371,066,461,001.00"
1,2016-01-01,-0.17,14366692,None,None,nan,3.50,4.00,None,nan,3.50,nan,nan,"2,263.00","2,263.00",nan,nan,nan,nan,"6,059.00",nan,3.00,2.00,468.00,nan,None,"33,668,120.00","-117,677,556.00","3,643.00",nan,nan,nan,nan,nan,1,Single Family Residential,None,"60,590,524.22","32,380.00","1,286.00",nan,"96,962.00",0.00,None,1.00,None,nan,nan,nan,"2,014.00",nan,nan,"346,458.00","585,529.00","2,015.00","239,071.00","10,153.02",None,nan,nan
2,2016-01-01,-0.00,12098116,Central,None,nan,3.00,2.00,None,4.00,3.00,nan,nan,"2,217.00","2,217.00",nan,nan,nan,nan,"6,037.00",nan,3.00,nan,nan,nan,Central,"34,136,312.00","-118,175,032.00","11,423.00",nan,nan,nan,nan,nan,0100,Single Family Residential,PSR6,"60,374,638.00","47,019.00","3,101.00","275,411.00","96,293.00",0.00,None,nan,None,1.00,nan,nan,"1,940.00",nan,nan,"61,994.00","119,906.00","2,015.00","57,912.00","11,484.48",None,nan,"60,374,638,003,004.00"
3,2016-01-02,0.02,12643413,Central,None,nan,2.00,2.00,None,4.00,2.00,nan,nan,839.00,839.00,nan,nan,nan,nan,"6,037.00",nan,2.00,nan,nan,nan,Central,"33,755,800.00","-118,309,000.00","70,859.00",nan,nan,nan,nan,nan,010C,Condominium,LAR3,"60,372,963.00","12,447.00","3,101.00","54,300.00","96,222.00",0.00,None,nan,None,1.00,nan,nan,"1,987.00",nan,nan,"171,518.00","244,880.00","2,015.00","73,362.00","3,048.74",None,nan,"60,372,963,002,002.00"
4,2016-01-02,-0.01,14432541,None,None,nan,2.50,4.00,None,nan,2.50,nan,nan,"2,283.00","2,283.00",nan,nan,nan,nan,"6,059.00",nan,2.00,2.00,598.00,nan,None,"33,485,643.00","-117,700,234.00","6,000.00",1.00,nan,nan,nan,1.00,122,Single Family Residential,None,"60,590,423.38","17,686.00","1,286.00",nan,"96,961.00",8.00,None,1.00,None,nan,nan,nan,"1,981.00",2.00,nan,"169,574.00","434,551.00","2,015.00","264,977.00","5,488.96",None,nan,"60,590,423,381,006.00"

In [3]:
df_zillow_total.shape

(167854, 60)

In [4]:
df_zillow_total.columns

Index(['transactiondate', 'logerror', 'parcelid', 'airconditioningdesc', 'architecturalstyledesc', 'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingclassdesc', 'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid', 'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet', 'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet50', 'finishedsquarefeet6', 'fips', 'fireplacecnt', 'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa', 'heatingorsystemdesc', 'latitude', 'longitude', 'lotsizesquarefeet', 'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7', 'propertycountylandusecode', 'propertylandusedesc', 'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity', 'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt', 'storydesc', 'threequarterbathnbr', 'typeconstructiondesc', 'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt', 'numberofstories', 'fireplaceflag',
       'structuretaxvaluedollarcnt', 'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt', 'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear', 'censustractandblock'],
      dtype='object')

In [5]:
df_zillow_total = prep_z.data_prep(df_zillow_total)
df_zillow_total.head()

  transactiondate             logerror  parcelid          bathroomcnt           bedroomcnt  buildingqualitytypeid    calculatedbathnbr  calculatedfinishedsquarefeet  finishedsquarefeet12                 fips          fullbathcnt heatingorsystemdesc             latitude            longitude    lotsizesquarefeet propertycountylandusecode        propertylandusedesc propertyzoningdesc  rawcensustractandblock         regionidcity       regionidcounty          regionidzip              roomcnt              unitcnt            yearbuilt  structuretaxvaluedollarcnt    taxvaluedollarcnt       assessmentyear  landtaxvaluedollarcnt            taxamount   censustractandblock
0      2016-01-01                 0.03  11016594                 2.00                 3.00                   4.00                 2.00                      1,684.00              1,684.00             6,037.00                 2.00             Central        34,280,990.00      -118,488,536.00             7,528.00                      0100  Single Family Residential               LARS           60,371,066.46            12,447.00             3,101.00            96,370.00                 0.00                 1.00             1,959.00                  122,754.00           360,170.00             2,015.00             237,416.00             6,735.88 60,371,066,461,001.00
1      2016-01-01                -0.17  14366692                 3.50                 4.00                    nan                 3.50                      2,263.00              2,263.00             6,059.00                 3.00                None        33,668,120.00      -117,677,556.00             3,643.00                         1  Single Family Residential               None           60,590,524.22            32,380.00             1,286.00            96,962.00                 0.00                  nan             2,014.00                  346,458.00           585,529.00             2,015.00             239,071.00            10,153.02                   nan
2      2016-01-01                -0.00  12098116                 3.00                 2.00                   4.00                 3.00                      2,217.00              2,217.00             6,037.00                 3.00             Central        34,136,312.00      -118,175,032.00            11,423.00                      0100  Single Family Residential               PSR6           60,374,638.00            47,019.00             3,101.00            96,293.00                 0.00                 1.00             1,940.00                   61,994.00           119,906.00             2,015.00              57,912.00            11,484.48 60,374,638,003,004.00
3      2016-01-02                 0.02  12643413                 2.00                 2.00                   4.00                 2.00                        839.00                839.00             6,037.00                 2.00             Central        33,755,800.00      -118,309,000.00            70,859.00                      010C                Condominium               LAR3           60,372,963.00            12,447.00             3,101.00            96,222.00                 0.00                 1.00             1,987.00                  171,518.00           244,880.00             2,015.00              73,362.00             3,048.74 60,372,963,002,002.00
4      2016-01-02                -0.01  14432541                 2.50                 4.00                    nan                 2.50                      2,283.00              2,283.00             6,059.00                 2.00                None        33,485,643.00      -117,700,234.00             6,000.00                       122  Single Family Residential               None           60,590,423.38            17,686.00             1,286.00            96,961.00                 8.00                  nan             1,981.00                  169,574.00           434,551.00             2,015.00             264,977.00             5,488.96 60,590,423,381,006.00

In [6]:
df_zillow_total.shape

(155746, 31)

In [7]:
df_zillow_total.columns

Index(['transactiondate', 'logerror', 'parcelid', 'bathroomcnt', 'bedroomcnt', 'buildingqualitytypeid', 'calculatedbathnbr', 'calculatedfinishedsquarefeet', 'finishedsquarefeet12', 'fips', 'fullbathcnt', 'heatingorsystemdesc', 'latitude', 'longitude', 'lotsizesquarefeet', 'propertycountylandusecode', 'propertylandusedesc', 'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity', 'regionidcounty', 'regionidzip', 'roomcnt', 'unitcnt', 'yearbuilt', 'structuretaxvaluedollarcnt', 'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt', 'taxamount', 'censustractandblock'], dtype='object')

In [8]:
look_zillow = prep_z.peekatdata(df_zillow_total)

 SHAPE:
(155746, 31)


 COLS:
Index(['transactiondate', 'logerror', 'parcelid', 'bathroomcnt', 'bedroomcnt', 'buildingqualitytypeid', 'calculatedbathnbr', 'calculatedfinishedsquarefeet', 'finishedsquarefeet12', 'fips', 'fullbathcnt', 'heatingorsystemdesc', 'latitude', 'longitude', 'lotsizesquarefeet', 'propertycountylandusecode', 'propertylandusedesc', 'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity', 'regionidcounty', 'regionidzip', 'roomcnt', 'unitcnt', 'yearbuilt', 'structuretaxvaluedollarcnt', 'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt', 'taxamount', 'censustractandblock'], dtype='object')


 INFO:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 155746 entries, 0 to 167887
Data columns (total 31 columns):
transactiondate                 155746 non-null object
logerror                        155746 non-null float64
parcelid                        155746 non-null int64
bathroomcnt                     155746 non-null float64
bedroomcnt                      155746 non-null float64
buildingqualitytypeid           97026 non-null float64
calculatedbathnbr               155462 non-null float64
calculatedfinishedsquarefeet    155666 non-null float64
finishedsquarefeet12            155239 non-null float64
fips                            155746 non-null float64
fullbathcnt                     155462 non-null float64
heatingorsystemdesc             100577 non-null object
latitude                        155746 non-null float64
longitude                       155746 non-null float64
lotsizesquarefeet               137929 non-null float64
propertycountylandusecode       155745 non-null object
propertylandusedesc             155746 non-null object
propertyzoningdesc              97842 non-null object
rawcensustractandblock          155746 non-null float64
regionidcity                    152881 non-null float64
regionidcounty                  155746 non-null float64
regionidzip                     155688 non-null float64
roomcnt                         155746 non-null float64
unitcnt                         97782 non-null float64
yearbuilt                       155602 non-null float64
structuretaxvaluedollarcnt      155589 non-null float64
taxvaluedollarcnt               155744 non-null float64
assessmentyear                  155746 non-null float64
landtaxvaluedollarcnt           155744 non-null float64
taxamount                       155736 non-null float64
censustractandblock             155307 non-null float64
dtypes: float64(25), int64(1), object(5)
memory usage: 38.0+ MB
None


 Missing Values:
transactiondate                     0
logerror                            0
parcelid                            0
bathroomcnt                         0
bedroomcnt                          0
buildingqualitytypeid           58720
calculatedbathnbr                 284
calculatedfinishedsquarefeet       80
finishedsquarefeet12              507
fips                                0
fullbathcnt                       284
heatingorsystemdesc             55169
latitude                            0
longitude                           0
lotsizesquarefeet               17817
propertycountylandusecode           1
propertylandusedesc                 0
propertyzoningdesc              57904
rawcensustractandblock              0
regionidcity                     2865
regionidcounty                      0
regionidzip                        58
roomcnt                             0
unitcnt                         57964
yearbuilt                         144
structuretaxvaluedollarcnt        157
taxvaluedollarcnt                   2
assessmentyear                      0
landtaxvaluedollarcnt               2
taxamount                          10
censustractandblock               439
dtype: int64


 DESCRIBE:
                  logerror             parcelid          bathroomcnt           bedroomcnt  buildingqualitytypeid    calculatedbathnbr  calculatedfinishedsquarefeet  finishedsquarefeet12                 fips          fullbathcnt             latitude            longitude    lotsizesquarefeet  rawcensustractandblock         regionidcity       regionidcounty          regionidzip              roomcnt              unitcnt            yearbuilt  structuretaxvaluedollarcnt    taxvaluedollarcnt       assessmentyear  landtaxvaluedollarcnt            taxamount    censustractandblock
count           155,746.00           155,746.00           155,746.00           155,746.00              97,026.00           155,462.00                    155,666.00            155,239.00           155,746.00           155,462.00           155,746.00           155,746.00           137,929.00              155,746.00           152,881.00           155,746.00           155,688.00           155,746.00            97,782.00           155,602.00                  155,589.00           155,744.00           155,746.00             155,744.00           155,736.00             155,307.00
mean                  0.01        13,048,732.52                 2.26                 3.00                   6.02                 2.26                      1,742.02              1,743.11             6,049.51                 2.19        34,003,514.11      -118,196,196.30            30,052.62           60,498,113.30            33,593.44             2,496.23            96,606.18                 1.59                 1.00             1,969.26                  183,109.44           472,403.73             2,015.46             289,476.53             5,958.07  60,500,803,669,800.38
std                   0.16         2,928,601.98                 0.94                 1.02                   1.89                 0.94                        918.75                918.57                21.06                 0.92           268,661.90           365,154.77           124,803.28              209,006.20            46,426.04               814.80             3,785.80                 2.90                 0.22                23.13                  220,474.11           610,612.00                 0.50             451,780.41             7,299.80   1,092,364,979,231.79
min                  -4.66        10,711,738.00                 0.00                 0.00                   1.00                 1.00                          2.00                  2.00             6,037.00                 1.00        33,339,527.00      -119,475,416.00               167.00           60,371,011.10             3,491.00             1,286.00            95,982.00                 0.00                 1.00             1,878.00                       44.00                22.00             2,015.00                  22.00                19.92  60,371,011,101,000.00
25%                  -0.02        11,554,725.00                 2.00                 2.00                   4.00                 2.00                      1,163.00              1,164.00             6,037.00                 2.00        33,803,362.25      -118,414,658.00             5,824.00           60,374,004.02            12,447.00             1,286.00            96,208.00                 0.00                 1.00             1,954.00                   81,904.00           200,664.50             2,015.00              81,965.00             2,764.35  60,374,004,022,004.00
50%                   0.01        12,598,895.50                 2.00                 3.00                   7.00                 2.00                      1,508.00              1,510.00             6,037.00                 2.00        34,017,868.00      -118,164,336.00             7,288.00           60,376,213.01            25,218.00             3,101.00            96,411.00                 0.00                 1.00             1,970.00                  132,440.00           348,365.00             2,015.00             197,865.00             4,454.52  60,376,213,241,001.00
75%                   0.04        14,277,763.50                 3.00                 4.00                   7.00                 3.00                      2,052.00              2,053.00             6,059.00                 3.00        34,175,844.50      -117,912,787.50            12,283.00           60,590,524.19            45,457.00             3,101.00            96,989.00                 0.00                 1.00             1,987.00                  212,000.00           552,452.00             2,016.00             356,352.00             6,848.59  60,590,524,184,002.00
max                   5.26       167,688,532.00                20.00                16.00                  12.00                20.00                     21,929.00             21,929.00             6,111.00                20.00        34,818,767.00      -117,554,636.00         6,971,010.00           61,110,091.00           396,556.00             3,101.00           399,675.00                18.00                70.00             2,016.00               11,421,790.00        49,061,236.00             2,016.00          48,952,198.00           586,639.30 483,030,105,084,015.00


 HEAD:
  transactiondate             logerror  parcelid          bathroomcnt           bedroomcnt  buildingqualitytypeid    calculatedbathnbr  calculatedfinishedsquarefeet  finishedsquarefeet12                 fips          fullbathcnt heatingorsystemdesc             latitude            longitude    lotsizesquarefeet propertycountylandusecode        propertylandusedesc propertyzoningdesc  rawcensustractandblock         regionidcity       regionidcounty          regionidzip              roomcnt              unitcnt            yearbuilt  structuretaxvaluedollarcnt    taxvaluedollarcnt       assessmentyear  landtaxvaluedollarcnt            taxamount   censustractandblock
0      2016-01-01                 0.03  11016594                 2.00                 3.00                   4.00                 2.00                      1,684.00              1,684.00             6,037.00                 2.00             Central        34,280,990.00      -118,488,536.00             7,528.00                      0100  Single Family Residential               LARS           60,371,066.46            12,447.00             3,101.00            96,370.00                 0.00                 1.00             1,959.00                  122,754.00           360,170.00             2,015.00             237,416.00             6,735.88 60,371,066,461,001.00
1      2016-01-01                -0.17  14366692                 3.50                 4.00                    nan                 3.50                      2,263.00              2,263.00             6,059.00                 3.00                None        33,668,120.00      -117,677,556.00             3,643.00                         1  Single Family Residential               None           60,590,524.22            32,380.00             1,286.00            96,962.00                 0.00                  nan             2,014.00                  346,458.00           585,529.00             2,015.00             239,071.00            10,153.02                   nan
2      2016-01-01                -0.00  12098116                 3.00                 2.00                   4.00                 3.00                      2,217.00              2,217.00             6,037.00                 3.00             Central        34,136,312.00      -118,175,032.00            11,423.00                      0100  Single Family Residential               PSR6           60,374,638.00            47,019.00             3,101.00            96,293.00                 0.00                 1.00             1,940.00                   61,994.00           119,906.00             2,015.00              57,912.00            11,484.48 60,374,638,003,004.00
3      2016-01-02                 0.02  12643413                 2.00                 2.00                   4.00                 2.00                        839.00                839.00             6,037.00                 2.00             Central        33,755,800.00      -118,309,000.00            70,859.00                      010C                Condominium               LAR3           60,372,963.00            12,447.00             3,101.00            96,222.00                 0.00                 1.00             1,987.00                  171,518.00           244,880.00             2,015.00              73,362.00             3,048.74 60,372,963,002,002.00
4      2016-01-02                -0.01  14432541                 2.50                 4.00                    nan                 2.50                      2,283.00              2,283.00             6,059.00                 2.00                None        33,485,643.00      -117,700,234.00             6,000.00                       122  Single Family Residential               None           60,590,423.38            17,686.00             1,286.00            96,961.00                 8.00                  nan             1,981.00                  169,574.00           434,551.00             2,015.00             264,977.00             5,488.96 60,590,423,381,006.00


 TAIL:
       transactiondate             logerror  parcelid          bathroomcnt           bedroomcnt  buildingqualitytypeid    calculatedbathnbr  calculatedfinishedsquarefeet  finishedsquarefeet12                 fips          fullbathcnt heatingorsystemdesc             latitude            longitude    lotsizesquarefeet propertycountylandusecode        propertylandusedesc propertyzoningdesc  rawcensustractandblock         regionidcity       regionidcounty          regionidzip              roomcnt              unitcnt            yearbuilt  structuretaxvaluedollarcnt    taxvaluedollarcnt       assessmentyear  landtaxvaluedollarcnt            taxamount   censustractandblock
167883      2017-09-20                -0.00  10833991                 3.00                 3.00                   8.00                 3.00                      1,741.00              1,741.00             6,037.00                 3.00             Central        34,202,400.00      -118,502,000.00            59,487.00                      010C                Condominium              LARD3           60,371,319.00            12,447.00             3,101.00            96,415.00                 0.00                 1.00             1,980.00                  265,000.00           379,000.00             2,016.00             114,000.00             4,685.34 60,371,319,001,006.00
167884      2017-09-20                 0.02  11000655                 2.00                 2.00                   6.00                 2.00                      1,286.00              1,286.00             6,037.00                 2.00             Central        34,245,368.00      -118,282,383.00            47,405.00                      0100  Single Family Residential             LARE40           60,371,014.00            12,447.00             3,101.00            96,284.00                 0.00                 1.00             1,940.00                   70,917.00           354,621.00             2,016.00             283,704.00             4,478.43 60,371,014,003,002.00
167885      2017-09-21                 0.01  17239384                 2.00                 4.00                    nan                 2.00                      1,612.00              1,612.00             6,111.00                 2.00                None        34,300,140.00      -118,706,327.00            12,105.00                      1111  Single Family Residential               None           61,110,084.02            27,110.00             2,061.00            97,116.00                 7.00                  nan             1,964.00                   50,683.00            67,205.00             2,016.00              16,522.00             1,107.48 61,110,084,022,016.00
167886      2017-09-21                 0.04  12773139                 1.00                 3.00                   4.00                 1.00                      1,032.00              1,032.00             6,037.00                 1.00             Central        34,040,895.00      -118,038,169.00             5,074.00                      0100  Single Family Residential              SER1*           60,374,338.02            36,502.00             3,101.00            96,480.00                 0.00                 1.00             1,954.00                   32,797.00            49,546.00             2,016.00              16,749.00               876.43 60,374,338,022,005.00
167887      2017-09-25                 0.01  12826780                 2.00                 3.00                   6.00                 2.00                      1,762.00              1,762.00             6,037.00                 2.00             Central        33,937,685.00      -117,996,709.00             6,347.00                      0100  Single Family Residential          WHR16000*           60,375,034.02            14,634.00             3,101.00            96,171.00                 0.00                 1.00             1,955.00                  140,000.00           522,000.00             2,016.00             382,000.00             6,317.15 60,375,034,021,020.00

In [ ]:
# singles = ['Cluster Home', 'Condominium', 'Cooperative', 'Manufactured, Modular, Prefabricated Homes', 'Mobile Home', 'Residential General', 'Single Family Residential', 'Townhouse']
# pickle = df_zillow_total[df_zillow_total.propertylandusedesc.isin(singles)]
# pickle.shape
# pickle.head()
# pickle.propertylandusedesc.unique()

In [9]:
df_zillow_total.propertylandusedesc.unique()

array(['Single Family Residential', 'Condominium', 'Cluster Home',
       'Mobile Home', 'Cooperative',
       'Manufactured, Modular, Prefabricated Homes',
       'Residential General', 'Townhouse'], dtype=object)

OK, this works now... the prep_z file works... the most recent step filters down to only the dwellings I designated as single unit dwellings.

Next convert dtypes of fields that are techniclly numerical, but are categorically representative in nature.  change those to object or string fields.

Then this prep-z shold be ready for primetime

Then move on to how to handle missing values and outliers.  See lesson..

This is how to write to csv, by calling the command from the acquire.py:

In [ ]:
# acq.write_2016_csv(acq.get_2016_property_data())